[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RLT"]
	path = RLT
	url = https://github.com/teazrq/rlt
[submodule "orthoDr"]
	path = orthoDr
	url = https://github.com/teazrq/orthodr
